<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707453952108-fbmsngfirta0tafjds4s0l75h10hh6mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707453952108-fbmsngfirta0tafjds4s0l75h10hh6mh</string>
	<key>API_KEY</key>
	<string>AIzaSyAJnr4LYpixjv4_08L6-9WIa5d-ooWMBQI</string>
	<key>GCM_SENDER_ID</key>
	<string>707453952108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trible</string>
	<key>PROJECT_ID</key>
	<string>trible-e52c6</string>
	<key>STORAGE_BUCKET</key>
	<string>trible-e52c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707453952108:ios:1e853d9b160adf1b38b849</string>
</dict>
</plist>